@model IPagedList<RestaurantListViewModel>

<div id="restaurantList">

    <div class="pagedList" data-otf-target="#restaurantList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
        PagedListRenderOptions.MinimalWithItemCountText)
    </div>

@foreach (var restaurant in Model)
{
    <div>
        <h4><strong>@restaurant.Name</strong></h4>
        <div>Rating: @restaurant.AverageRating</div>
        <div>Total Reviews: @restaurant.TotalReviews</div>
        <div>@restaurant.City, @restaurant.Country</div>
        <hr />
    </div>
}
</div>

